/* YOUR CODE GOES IN HERE */
div {
  width: 210px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 200px;
  border-color: rgb(236, 183, 191);
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
